* {
    padding: 0;
    margin: 0;
}

html,
body {
    direction: ltr;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
}

.head {
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 2%
}

.menu_and_logo {
    display: inline-flex;
    flex-direction: row;
    padding-top: 1%;
}

.search {
    display: inline-flex;
    flex-direction: row;
}

.bell_and_mic {
    display: flex;
    flex-direction: row;
}

.user_img {
    border-radius: 50%;
    width: 50%;
}

.bibi-list {
    color: #ffff;
}

.bibi-youtube {
    color: red;
    padding-left: 20px;
}

.text_of_logo {
    color: #ffff;
}

.bibi-search {
    color: rgba(37, 37, 37, 0.885);
    background-color: lavender;
    padding: 2px 8px;
    border-collapse: collapse;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.in_search {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-collapse: collapse;
    padding-left: 1.5%;
    padding-right: 50%;
    border-color: rgba(128, 128, 128, 0.627);
    background-color: lavender;
}

.search {
    margin-bottom: 1%;
    width: 60%;
}

.tow_icon {
    display: flex;
    flex-direction: row;
    padding-top: 9%;
    padding-right: 10px;
}

.mic {
    border: 2px solid rgba(128, 128, 128, 0.627);
    background-color: rgba(128, 128, 128, 0.627);
    padding: 2px 6px;
    border-radius: 50px;
}

.bibi-mic-fill {
    padding-top: 3px;
}

.foll_search {
    display: flex;
    flex-direction: row;
}

.bibi-mic-fill {
    color: #ffff;
}

.bibi-camera-video {
    color: aliceblue;
}

.bibi-bell {
    color: #ffff;
}

.bell {
    padding-right: 20px;
}

.contaner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.right_section {
    width: 15%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    background-color: black;
}

.style_icon {
    margin-top: 10%;
    color: #ffff;
}

.bibi-house-door-fill {
    color: #ffff;
}

.text_seting {
    padding-top: 3%;
    padding-left: 20px;
    color: #ffff;
}

.text_seting2 {
    padding-top: 12%;
    padding-left: 10%;
    color: #ffff;
}

.hr_seting {
    margin-top: 10%;
}

.home {
    display: flex;
    flex-direction: row;
}

.short_video {
    display: flex;
    flex-direction: row;
}

.subscrib {
    display: flex;
    flex-direction: row;
}

.library {
    display: flex;
    flex-direction: row;
}

.history {
    display: flex;
    flex-direction: row;
}

.your_video {
    display: flex;
    flex-direction: row;
}

.watch {
    display: flex;
    flex-direction: row;
}

.like {
    display: flex;
    flex-direction: row;
}
.sub{
    padding-top: 8%;
    color: #ffff;
}
a {
    text-decoration: none;
    color:#ffff;
}
.text_sub{
    display: flex;
    flex-direction: row;
}
.photo_sub{
    border-radius: 100%;
    width: 15%;
    padding-top: 5%;
}
.text_seting3{
    padding-top: 8%;
    padding-left: 10%;
}